.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}


.title{
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.elem{
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text{
  margin-right: 20px;
}

.btn{
  border: 2px solid #36cfc9;
  background-color: #36cfc9;
  border-radius: 5px;
  height: 25px;
  width: 70px;
}
